@media (min-width: 309px) and (max-width:605px){
    div.profile{
        top:200px;
    }
    div#picture{
        height:150px;
        width:150px;
    }
    div.user_msg{
        width: 70%;
    }
    div#msg_bar input{
        width:60vw;
    }
    div.msg_section{
        width:97%;
    }
}
@media (min-width:606px) and (max-width:800px){
    div#msg_bar input{
        width: 70vw;
    }
}
@media only screen and (max-height: 530px){
    section#container{
        height:70vh;
    }
    div#picture{
        height:130px;
        width:130px;
    }
}
@media only screen and (max-height: 440px){
    section#container{
        height:60vh;
    }
    div.profile{
        top:150px;
    }
    div#picture{
        height:110px;
        width:110px;
    }
}
@media only screen and (max-height: 310px){
    section#container{
        height:55vh;
    }
    div.profile{
        top:100px;
    }
    div#picture{
        height:80px;
        width:80px;
    }
}